.manage {
    background: #010225;
}

.manage__desc {
    width: 635px;
    padding: 181px 0 160px 0;
}

.manage__desc-link {
    color: #159BE8;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.manage__desc-title {
    width: 456px;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    color: #FFFFFF;
    margin-top: 28px;
}

.manage__desc-text {
    width: 617px;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}

.manage__desc-benefits-img {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
}

.manage__desc-benefits-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 12px;
}

.manage__desc-benefits-text {
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    width: 270px;
    margin-top: 10px;
}

.manage__desc-benefits {
    display: flex;
    gap: 16px;
    margin-top: 35px;
}

.manage__desc-benefits-desc1 {
    width: 309px;
}

.manage__desc-benefits-desc2 {
    width: 309px;
}

.manage__desc-btn {
    background: #159BE8;
    outline: none;
    border: none;
    width: 164px;
    height: 48px;
    color: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s linear;
    font-family: 'LeagueSpartan-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.manage__desc-form {
    margin-top: 60px;
}

.manage__desc-img {
    position: absolute;
    transform: translate(140px, -51px);
}

.manage__wrap {
    display: flex;
}

.manage__phones {
    display: flex;
    align-items: center;
    height: 701px;
    margin-top: 109px;
}

.manage__phones img {
    align-self: center;
    max-height: 100%;
}

.manage__phones-img1 {
    margin-bottom: 29px;
}

@media screen and (max-width:1450px) {
    .manage__wrap {
        flex-direction: column;
    }

    .manage__desc {
        margin: 0 auto;
    }

    .manage__phones {
        margin: 0 auto;
    }
    .manage__phones-img1 {
        margin-bottom: 0;
        align-items: center;
    }
}
@media screen and (max-width:750px) {
    .manage__wrap {
        flex-direction: column;
    }

    .manage__desc {
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .manage__phones {
        margin: 0 auto;
    }
    .manage__phones-img1 {
        margin-bottom: 0;
        align-items: center;
        width: 300px;
        height: 550px;
    }
    .manage__phones-img2 {
        align-items: center;
        width: 300px;
        height: 550px;
    }
    .manage__desc-text {
        width: 400px;
    }
    .manage__desc-benefits {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .manage__desc-benefits-text {
        width: 150px;
    }
}
@media screen and (max-width:650px) {
    .manage__phones-img1 {
        margin-bottom: 0;
        align-items: center;
        width: 200px;
        height: 350px;
    }
    .manage__phones-img2 {
        align-items: center;
        width: 200px;
        height: 350px;
    }
    .manage__phones {
        height: 390px;
    }
    .manage__desc-title {
        width: 400px;
    }
    .manage__desc-text {
        width: 300px;
    }
}
@media screen and (max-width:450px) {
    .manage__phones {
        display: none;
    }
    .manage__desc-title {
        width: 400px;
    }
    .manage__desc-text {
        width: 300px;
    }
}
@media screen and (max-width:380px) {
    .manage__phones {
        display: none;
    }
    .manage__desc-title {
        width: 300px;
        font-size: 30px;
    }
    .manage__desc-text {
        width: 200px;     
    }
}